# Ignore node_modules in the client folder
client/node_modules/
# testing
/client/coverage

# production
client/build
# Ignore node_modules in the server folder
server/node_modules/

# Ignore .env file
server/.env
